/Guia9_Ejerc1_Cadena/nbproject/private/
/Guia9_Ejerc1_Cadena/build/
/Guia9_Ejerc2_Numero/nbproject/private/
/Guia9_Ejerc2_Numero/build/
/Guia9_Ejerc3_Arreglo/nbproject/private/
/Guia9_Ejerc3_Arreglo/build/
/Guia9_Ejerc4_Fecha/nbproject/private/
/Guia9_Ejerc4_Fecha/build/
/Guia9_Ejerc5_Persona/nbproject/private/
/Guia9_Ejerc5_Persona/build/
/Guia9_Ejerc6_Profesor/nbproject/private/
/Guia9_Ejerc6_Profesor/build/
/Guia9_EjercEx1_MesSecreto/nbproject/private/
/Guia9_EjercEx1_MesSecreto/build/
/Guia9_EjercEx2_Ahorcado/nbproject/private/
/Guia9_EjercEx2_Ahorcado/build/